.accordian {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 100%;
  margin: 17px;
  box-sizing: border-box;
  text-align: left;
}
.accordian-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #160f29;
  background-color: #fff;
  position: relative;
  height: 50px;
  width: 390px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 18px rgb(189 37 37 / 6%);
  text-align: left;
  margin: 10px;
  padding: 10px;
  padding-left: 22px;
}
.accordian-1-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #160f29;
  background-color: #fff;
  position: relative;
  height: 250px;
  width: 390px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 18px rgb(189 37 37 / 6%);
  text-align: left;
  margin: 10px;
  padding: 10px;
  padding-left: 22px;
}
.accordian-name {
  text-align: left;
}
.acc-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #160f29;
  background-color: #fff;
  position: relative;
  height: 250px;
  width: 350px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 18px rgb(189 37 37 / 6%);
  text-align: left;
}
