.btn-call {
  display: inline-block;
  padding: 10px 18px;
  font-size: 14px;
  margin-right: 10px;
  color: rgb(11, 59, 144);
  cursor: pointer;
  font-family: '"Nunito Sans", sans-serif';
  border: none;
  outline: none;
  margin: 5px;
  font-weight: 0 !important;
}
.activity-call {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 13px;
}
