.main-header {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;
  padding: 15px 25px 10px 25px;
  background-color: white;
  width: 92vw;
  height: 120px;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 4px 18px rgb(189 37 37 / 6%);
}
.repository-back {
  color: #a4a4a4;
  cursor: pointer;
  font-size: 13px;
}
.repository-back:hover {
  color: #fc8711;
}
