.side-menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 3.8vw;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  list-style: none;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 4px 18px rgb(189 37 37 / 6%);
  z-index: 1;
}
.sidemenu-items {
  font-size: 14px;
  cursor: pointer;
  color: #72859d;
  padding: 0.3rem;
  margin: 0.3rem;
}
.sidemenu-items:hover {
  color: #366bc9;
}
