.view-repository {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.main-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 80px;
  width: 100vw;
  height: 100vw;
  /* color: #a4a4a4; */
}
